<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/custom.css}"/>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<title>Home - DevOps Test</title>
</head>
<body>
	<div align="center">
		<h1>Welcome To DevOps Test</h1>
		<hr/>
		<form method="get" action="/get-message">
			<label>Ask me you questions</label>
			<input type="text" name="question" placeholder="Ask me a question">
			<input type="submit" value="Ask"/>
		</form><br/>
		<h1>------------------------------------------</h1>
		<p style="color:blue" th:text="${answer}"></p>
		<h1>------------------------------------------</h1>
		<label><b>You can ask the following questions</b></label><br/>
		<label>Namaste</label><br/>
		<label>Hello</label><br/>
		<label>How are you</label><br/>
		<label>What is your name</label><br/>
		<label>What is Jenkins</label><br/>
		<label>What is DevOps</label><br/>
		<hr/>
		<h2>Version 1.0.1</h2>
	</div>
</body>
</html>